<div style="text-align: center;">
  <h1>Ultimate Tic Tac Toe</h1>
  <br>
  Current Games: <span id="current"></span>
  <br><br>
  <a href="games"><button style="color: #000">List of Current Games</button></a>
  <hr>
  <form action="setToken" method="get">
    <span>Username:</span>
    <input id="username" style="text-align: center;" type="text" name="name" placeholder="Username" value="{{token.name}}">
  </form>
  <br>
  <a href="game"><button style="color: #000">Enter Game Menu</button></a>
</div>
<script src="js/utilities.js"></script>
<script>
;(() => {
  var name = document.getElementById('username'), originalName = name.value

  name.addEventListener('change', event => {
    if (name.value !== originalName) name.style.backgroundColor = '#DDD'
    else name.style.backgroundColor = ''
  })

  var hasName = query('name')
  if (hasName === 'required') {
    name.style.backgroundColor = '#FDD'
  } else if (!originalName && hasName) name.value = hasName

  function refreshInfo() {
    ws.emit('home', res => {
      document.getElementById('current').innerText = res.currentGames
    })
  }
  refreshInfo()
  setInterval(refreshInfo, 5000)
})()
</script>
