* {
  box-sizing: border-box;
}

html {
}

body {
  background-color: #000;
}

html, body {
  height: 100% !important;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: fixed;
  -webkit-overflow-scrolling : touch !important;
}

canvas {
  overflow: hidden;
}

table {
  width: 100%;
  text-align: center;
}

table tr:first-child {
  font-weight: 700;
}

hr {
  width: 80%; height: 3px; border: 0;
  background-color: #000;
}

button {
  margin: 5px;
  font-size: unset;
  background: #EEE;
  border: unset;
  border-radius: 5px;
}

input {
  font-size: 16px;
  border-radius: 5px;
  border-width: 1px;
}

.nopointer {
  pointer-events: none;
}
  .nopointer * {
    pointer-events: all;
  }

.noselect {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.hud {
  position: absolute;
  top: 0;
  background-color: #FFF;
  text-align: center;
  -webkit-overflow-scrolling: touch;
}

.hudtext {
  color: #BBB;
  font-family: Verdana, Arial, sans-serif;
  font-size: 15px;
}

.hudlabel {
  padding-top: 0.5em;
  font-size: 25px;
  font-variant: small-caps;
}

.scrollContent {
  overflow: auto;
  max-height: fit-content;
  max-height: -moz-fit-content;
}
