* {
  box-sizing: border-box;
}

html {
}

body {
  font-family: Verdana, Arial, sans-serif;
}

html, body {
  width: 100%;
  height: 100% !important;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: fixed;
  -webkit-overflow-scrolling: auto;
  zoom: 100%;
}

img {
  vertical-align: middle;
}

canvas {
  overflow: hidden;
}

table {
  width: 100%;
  text-align: center;
  table-layout: fixed;
  border-collapse: collapse;
}

table tr:first-child {
  font-weight: 700;
}

td {
  overflow: hidden;
  padding-left: 5px;
}

tr td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
tr td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

a {
  color: unset;
}

button {
  font-size: unset;
  background: #EEE;
  border: unset;
  border-radius: 5px;
  color: unset;
}

input {
  font-size: 16px;
  border-radius: 5px;
  border: unset;
}
input:disabled {
  background-color: #888;
  font-style: italic;
}

hr {
  height: 0.15em; border: 0;
  margin: 0.5em;
  background-color: #000;
}

li {
  display: block;
}

.nopointer {
  pointer-events: none;
}
  .nopointer > :not(.nopointer) {
    pointer-events: all;
  }

.noselect {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.hud {
  position: absolute;
  top: 0;
  text-align: center;
  -webkit-overflow-scrolling: touch;
}

.piece {
  background-color: #FFF;
  width: 2em; height: 2em;
  border-radius: 5px;
  margin: 0.25em;
}

.menuButton {
  background-color: #669;
  width: 80%;
  margin-top: 0.5em; padding: 0.5em;
}
